version: "3.8"

services:
  db:
    image: mariadb:11
    container_name: gestor-db
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: ${DB_PASSWORD:-root}
      MARIADB_DATABASE: ${DB_NAME:-gestor_db}
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"

  backend:
    build:
      context: .
    image: yourdockerhubusername/finance-system:latest
    container_name: gestor-backend
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - NODE_ENV=production
    depends_on:
      - db
    ports:
      - "3000:3000"

volumes:
  db_data:
    name: gestor_db_data
